<section class="py-12 bg-gray-100 sm:py-16">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <h2
      class="text-3xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-5xl font-pj mb-5 text-center"
    >
      What is this all about?
    </h2>

    <div class="text-gray-500 text-xl leading-7 max-w-3xl mx-auto">
      <p class="mb-4">
        Aren’t you tired of hearing all of the negative things they have to say
        about the black community ? Aren’t you tired of hearing people complain
        about the black community and offer no help ? Aren’t you tired of seeing
        black people under oppression ? What if I told you, I have the solution
        for bringing about change for all black people?
      </p>
      <p>
        My solution deals with the fundamentals of a community. With this
        solution, I will bring together black families in the black community.
        This solution consists of a website and app that will bring black
        business owners And black owned businesses the tools and opportunities
        too higher train and improve the lies of black job seekers, which will
        in turn build and Foster Network and community wow driving long lasting
        developments. I envision touching the lives of black people in America
        in the UK and in Africa. Do keep in mind that this is only the beginning
        of a brighter future for the black foundation!
      </p>
    </div>
  </div>
</section>
