<footer class="py-5 text-gray-300">
  <p class="text-center">Copyright &copy; <%= new Date().getFullYear();%> <a class="text-golden hover:underline underline-offset-2 hover:text-opacity-90" href=mailto:actbecomingharderthanlife@gmail.com>Gabriel Wright</a></p>
</footer>
</body>
</html>
