<footer class="py-5 bg-gray-100">
  <p class="text-center">Copyright &copy; <%= new Date().getFullYear();%> <a class="text-cyan-700" href=mailto:actbecomingharderthanlife@gmail.com>Gabriel Wright</a></p>
</footer>
</body>
</html>
