<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> - Black Inquisition</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header class="py-4 md:py-6">
      <div class="max-w-7xl px-4 mx-auto sm:px-6 lg:px-8">
        <div
          class="flex flex-col md:flex-row w-full items-center justify-between"
        >
          <div>
            <a href="/" class="text-gray-900 font-bold hover:opacity-70">
              <strong>Black</strong><em>Inquisition</em>
            </a>
          </div>

          <div class="md:ml-auto mt-4 md:mt-0">
            <nav class="space-x-4">
              <% if (locals.userId) { %>
              <a
                href="/updates"
                class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50 focus:ring-1 focus:ring-gray-900 focus:ring-offset-2"
              >
                Updates
              </a>

              <% if (locals.role == "USER") { %>
              <a
                href="/user/profile"
                class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50 focus:ring-1 focus:ring-gray-900 focus:ring-offset-2"
              >
                Profile
              </a>
              <% } else if (locals.role == "COMPANY") { %>
              <a
                href="/company/profile"
                class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50 focus:ring-1 focus:ring-gray-900 focus:ring-offset-2"
              >
                Profile
              </a>
              <% } else if (locals.role == "ADMIN") { %>
              <a
                href="/admin/dashboard"
                class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50 focus:ring-1 focus:ring-gray-900 focus:ring-offset-2"
              >
                Dashboard
              </a>
              <% } %>

              <a
                href="/auth/logout"
                class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50 focus:ring-1 focus:ring-gray-900 focus:ring-offset-2"
              >
                Logout
              </a>
              <% } else { %>

              <a
                href="/updates"
                class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50 focus:ring-1 focus:ring-gray-900 focus:ring-offset-2"
              >
                Updates
              </a>
              <a
                href="/auth/login"
                class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50 focus:ring-1 focus:ring-gray-900 focus:ring-offset-2"
              >
                Login
              </a>

              <a
                href="/signup-as"
                class="inline-flex items-center justify-center px-5 py-2 text-base font-bold leading-7 text-white transition-all duration-200 bg-gray-900 border border-transparent rounded-xl hover:bg-gray-600 font-pj focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
              >
                Sign up
              </a>
              <% } %>
            </nav>
          </div>
        </div>
      </div>
    </header>
