<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> - Black Inquisition</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="bg-neutral-900">
    <header
      class="sticky top-4 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full"
    >
      <nav
        class="relative max-w-[66rem] w-full bg-neutral-800 rounded-[28px] py-3 ps-5 pe-2 md:flex md:items-center md:justify-between md:py-0 mx-2 lg:mx-auto"
        aria-label="Global"
      >
        <div class="flex items-center justify-between">
          <!-- Logo -->
          <a
            class="flex items-center gap-1 rounded-md text-xl text-white font-bold focus:outline-none focus:opacity-80"
            href="/"
            aria-label="Black Inquisition"
          >
            <svg
              fill="#ffffff"
              class="w-8 h-auto inline"
              height="32px"
              width="32px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
            >
              <path
                d="M256,0C114.6,0,0,114.6,0,256s114.6,256,256,256s256-114.6,256-256S397.4,0,256,0z M256,469.3V42.7
	c117.8,0,213.3,95.5,213.3,213.3C469.3,373.8,373.8,469.3,256,469.3z"
              />
            </svg>
            <span> inquisition </span>
          </a>
          <!-- End Logo -->

          <!-- hamburger icon -->
          <div class="md:hidden">
            <button
              type="button"
              class="hs-collapse-toggle size-8 flex justify-center items-center text-sm font-semibold rounded-full bg-neutral-800 text-white disabled:opacity-50 disabled:pointer-events-none"
              data-hs-collapse="#navbar-collapse"
              aria-controls="navbar-collapse"
              aria-label="Toggle navigation"
            >
              <svg
                class="hs-collapse-open:hidden flex-shrink-0 size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <line x1="3" x2="21" y1="6" y2="6" />
                <line x1="3" x2="21" y1="12" y2="12" />
                <line x1="3" x2="21" y1="18" y2="18" />
              </svg>
              <svg
                class="hs-collapse-open:block hidden flex-shrink-0 size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M18 6 6 18" />
                <path d="m6 6 12 12" />
              </svg>
            </button>
          </div>
        </div>

        <!-- Collapse -->
        <div
          id="navbar-collapse"
          class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block"
        >
          <div
            class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:items-center md:justify-end md:gap-y-0 md:gap-x-7 md:mt-0 md:ps-7"
          >
            <% if (locals.userId) { %>
            <a
              class="text-sm text-white hover:text-neutral-300 md:py-4 focus:outline-none focus:text-neutral-300"
              href="/"
              aria-current="page"
              >Home</a
            >
            <% if (locals.role == "USER") { %>
            <a
              href="/user/profile"
              class="text-sm text-white hover:text-neutral-300 md:py-4 focus:outline-none focus:text-neutral-300"
            >
              Profile
            </a>

            <% } else if (locals.role == "COMPANY") { %>
            <a
              href="/company/profile"
              class="text-sm text-white hover:text-neutral-300 md:py-4 focus:outline-none focus:text-neutral-300"
            >
              Profile
            </a>

            <% } else if (locals.role == "ADMIN") { %>
            <a
              href="/admin/dashboard"
              class="text-sm text-white hover:text-neutral-300 md:py-4 focus:outline-none focus:text-neutral-300"
            >
              Dashboard
            </a>
            <% } %>
            <div
              class="hs-dropdown [--strategy:static] md:[--strategy:fixed] [--adaptive:none] md:py-4"
            >
              <button
                type="button"
                class="flex items-center w-full text-sm text-white hover:text-neutral-300 focus:outline-none focus:text-neutral-300"
              >
                Posts
                <svg
                  class="flex-shrink-0 ms-1 size-4"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="m6 9 6 6 6-6" />
                </svg>
              </button>

              <div
                class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] md:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 md:w-48 hidden z-10 bg-neutral-800 md:shadow-md rounded-lg p-2 before:absolute top-full before:-top-5 before:start-0 before:w-full before:h-5"
              >
                <% if (locals.role === "USER") { %>
                <a
                  class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                  href="/user/posts/new"
                >
                  Create Post
                </a>
                <a
                  class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                  href="/user/posts/"
                >
                  My Posts
                </a>
                <% } else if (locals.role === "COMPANY") { %>
                <a
                  class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                  href="/company/posts/new"
                >
                  Create Post
                </a>
                <a
                  class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                  href="/company/posts/"
                >
                  My Posts
                </a>
                <% } %>
                <a
                  class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white hover:text-neutral-300 font-medium focus:outline-none focus:text-neutral-300"
                  href="/posts"
                >
                  Public Posts
                </a>
              </div>
            </div>
            <% } else { %>
            <a
              class="text-sm text-white hover:text-neutral-300 md:py-4 focus:outline-none focus:text-neutral-300"
              href="/posts"
              >Posts</a
            >
            <% } %>

            <a
              class="text-sm text-white hover:text-neutral-300 md:py-4 focus:outline-none focus:text-neutral-300"
              href="/social/people"
              >People</a
            >
            <a
              class="text-sm text-white hover:text-neutral-300 md:py-4 focus:outline-none focus:text-neutral-300"
              href="/updates"
              >Updates</a
            >

            <% if (locals.userId) { %>
            <a
              class="text-sm text-white hover:text-neutral-300 md:py-4 pr-2 focus:outline-none focus:text-neutral-300"
              href="/auth/logout"
              >Logout</a
            >
            <% } else {%>
            <div>
              <a
                class="btn-primary group inline-flex items-center gap-x-2 py-2 px-3 font-semibold text-sm text-neutral-800 rounded-full focus:outline-none"
                href="/signup-as"
              >
                Get Started
              </a>
            </div>
            <% } %>
          </div>
        </div>
        <!-- End Collapse -->
      </nav>
    </header>
