<section class="bg-neutral-900">
  <div class="max-w-5xl mx-auto px-4 xl:px-0 pt-24 lg:pt-32 pb-24">
    <h1 class="font-semibold text-white text-5xl md:text-6xl">
      <span class="text-yellowMain">Black Inquisition:</span> bringing change
      for black people
    </h1>
    <div class="max-w-4xl">
      <p class="mt-5 text-neutral-400 text-lg">
        It is a creative hub where imagination meets craftsmanship to transform
        ideas into tangible realities. At Black Inquisition, we help you find
        talents for design, artistry, or technological innovation. Or if you're
        a a job seeker, we'll help you to get in touch with the right employer.
      </p>
    </div>
  </div>
</section>
