<%- include("./partials/header", {title: "Login"}) %>

<section class="py-12 bg-gray-50 sm:py-16">
  <div class="text-center mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl lg:text-6xl">
      Welcome
    </h1>
    <p class="mt-3 text-lg text-gray-600">
	Please login to your account to continue.
    </p>
  </div>
</section>

<%- include("./partials/footer") %>
