<%- include("./partials/header", {title: "Choose your role"}) %>

<section class="py-12 sm:py-16">
  <div class="text-center mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-white text-center text-3xl mt-8 mb-4">
      Signup to join community
    </h1>

    <div
      class="grid sm:grid-cols-2 border border-neutral-700 rounded-xl divide-y sm:divide-x divide-neutral-700 max-w-md mx-auto"
    >
      <div class="text-center py-16 group">
        <p>
          <a href="/auth/user/signup">
            <img
              src="/images/userIcon.svg"
              alt="Company icon"
              class="transition-colors bg-yellowMain hover:bg-yellow-300 w-16 h-16 inline p-3 rounded-full"
            />
            <span
              class="block w-max mx-auto mt-4 text-neutral-100 hover:text-yellowMain border-b-2 border-neutral-700 hover:border-yellowMain"
              >Personal Account</span
            >
          </a>
        </p>
      </div>
      <div class="text-center py-16">
        <p>
          <a href="/auth/company/signup">
            <img
              src="/images/companyIcon.svg"
              alt="Company icon"
              class="transition-colors bg-yellowMain hover:bg-yellow-300 w-16 h-16 inline p-3 rounded-full"
            />
            <span
              class="block w-max mx-auto mt-4 text-neutral-100 hover:text-yellowMain border-b-2 border-neutral-700 hover:border-yellowMain"
            >
              Company Account</span
            >
          </a>
        </p>
      </div>
    </div>

    <p class="text-center mt-5">
      Already have an account?
      <a href="/auth/login" class="underline font-semibold">Login</a>
    </p>
  </div>
</section>

<%- include("./partials/footer") %>
