<%- include("./partials/header", {title: "Latest Updates"}) %>

<section class="py-12 sm:py-16">
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl md:text-5xl font-bold mb-5 text-white">
      Latest Updates
    </h1>

    <hr class="border-neutral-500 mb-8" />

    <div class="max-w-prose">
      <h2 class="text-3xl font-bold mb-2 text-neutral-300">
        The Black Whole: Your One-Stop Shop for the Latest in black Business and
        Job Seeker news:
      </h2>

      <p class="text-lg text-neutral-400">
        Meet the Black Whole Article Writing Team, a group of writers so
        talented, we make Shakespeare look like he’s writing in crayon. We’re
        dedicated to bringing you the latest and greatest news about black
        businesses and job seekers, with a side of humor that would make Dave
        Chappelle and Eddie Murphy proud. Our backgrounds in business,
        journalism, and creative writing mean we know our stuff, but we also
        know how to make you laugh so hard, your boss will wonder what you’re
        really doing at your desk. So sit back, relax, and prepare to be
        informed, inspired, and entertained by the Black Whole Article Writing
        Team.
      </p>
    </div>
  </div>
</section>

<%- include("./partials/footer") %>
