<%- include("./partials/header", {title: "Latest Updates"}) %>

<section class="py-12 bg-gray-50 sm:py-16">
  <div class="mx-auto container px-4 sm:px-6 lg:px-8">
    <h1 class="text-center text-4xl md:text-5xl font-bold mb-14">
      Black whole’s latest updates
    </h1>

    <div class="max-w-3xl mx-auto">
      <div class="text-center">
        <img
          src="/images/updates01.jpg"
          alt="Comrades of black Inquisition"
          class="block mx-auto mb-1"
        />
        <p class="text-gray-500">Comrades of black Inquisition</p>
      </div>

      <h2 class="text-5xl text-center font-bold my-9">
        The Black Whole: Your One-Stop Shop for the Latest in black Business and
        Job Seeker news:
      </h2>

      <p class="text-center leading-7 text-lg text-gray-700">
        Meet the Black Whole Article Writing Team, a group of writers so
        talented, we make Shakespeare look like he’s writing in crayon. We’re
        dedicated to bringing you the latest and greatest news about black
        businesses and job seekers, with a side of humor that would make Dave
        Chappelle and Eddie Murphy proud. Our backgrounds in business,
        journalism, and creative writing mean we know our stuff, but we also
        know how to make you laugh so hard, your boss will wonder what you’re
        really doing at your desk. So sit back, relax, and prepare to be
        informed, inspired, and entertained by the Black Whole Article Writing
        Team.
      </p>
    </div>
  </div>
</section>

<%- include("./partials/footer") %>
